
@theme eureka {
  --color-background: var(--color-stone-100);
  --color-foreground: var(--color-stone-900);
  --color-primary: var(--color-green-600);
  --color-card: var(--color-stone-50);
}

@theme eureka (dark) {
  --color-background: var(--color-stone-950);
  --color-foreground: var(--color-stone-100);
  --color-primary: var(--color-green-500);
  --color-card: var(--color-stone-900);
}