/* @import "tailwindcss";
@import "./preset.css";
@import "./theme-default.css";
@import "./theme-minimalist.css"; */

@layer base {
  body {
    @apply bg-body-bg text-body-fg;
    /* background-color: var(--color-body-bg); */
    /* color: var(--color-body-fg); */
    /* font-family: var(--font-body); */
    transition: background-color var(--transition-base), color var(--transition-base);
  }
}

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: var(--transition-base);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}