body {
  background-color: var(--color-primary);
  /* color: var(--color-secondary); */
  /* font-family: var(--font-body); */
  /* transition: background-color var(--transition-base), color var(--transition-base); */
}

* {
  /* transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: var(--transition-base);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}