@theme {
    --font-body: "Satoshi", system-ui, sans-serif;
    --font-display: "Clash Display", "Satoshi", sans-serif;
    --font-code: "JetBrains Mono", ui-monospace, monospace;
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --space-body: 1rem;

    --transition-base: 0.25s;
  }
  
  @theme inline {

  /* Semantic tokens mapping to palettes */
  --color-body-bg: var(--palette-body-bg);
  --color-body-fg: var(--palette-body-fg);
  --color-body-fg-heading: var(--palette-heading-fg);
  --color-body-fg-subtle: var(--palette-muted-fg);

  --color-surface-bg: var(--palette-surface-bg);
  --color-surface-fg: var(--palette-surface-fg);

  --color-accent-bg: var(--palette-accent-bg);
  --color-accent-fg: var(--palette-accent-fg);

  --color-muted-bg: var(--palette-muted-bg);
  --color-muted-fg: var(--palette-muted-fg);

  --color-success-bg: var(--palette-success-bg);
  --color-success-fg: var(--palette-success-fg);

  --color-info-bg: var(--palette-info-bg);
  --color-info-fg: var(--palette-info-fg);

  --color-destructive-bg: var(--palette-destructive-bg);
  --color-destructive-fg: var(--palette-destructive-fg);

  --color-warning-bg: var(--palette-warning-bg);
  --color-warning-fg: var(--palette-warning-fg);

}